[Unit]
Description=ATX fan control with PWM
After=network-online.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /usr/local/src/pi-fan-control/ && source /home/toufi/.venv/main/bin/activate && ./main.py --config=/usr/local/etc/pi-fan-control.config'

[Install]
WantedBy=multi-user.target
