[fan]

# Interval in seconds between each round of polling temperature/change of DC
poll_interval = 5.0

# List of N temperature thresholds in °C, where N is also the number of temperature thresholds.
# Usual values are from 20°C to 75°C (starting to get too hot).
#
# DC[i] is chosen when i is the smallest integer s.t. Threshold[i] <= cpu_temp
temperature_thresholds = 70, 60, 45, 35

# List of N target DCs, where N is also the number of temperature thresholds.
# Values range from 0 (off) to 100 (fully on).
#
# DC[i] is chosen when i is the smallest integer s.t. Threshold[i] <= cpu_temp.
# If all thresholds are > cpu_temp, the DC will be 0.
duty_cycles = 100, 80, 50, 25

# Optional DC that overrides the DC computed from the CPU temperature.
# Uncomment to set a constant DC, from 0 (off) to 100 (fully on).
# constant_duty_cycle =
